DB_HOST=localhost
DB_PORT=3306
DB_USER=olympia_app
DB_PASSWORD=root
API_CONTEXT_SECRET=7289d4d3b76b1fc8690a009ee214f37e5c7fc6e08cce989876a6e1249108dfd4
JWT_SECRET=change-this-to-a-random-32-char-string
JWT_EXPIRY_HOURS=8
